version: 2
updates:
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - totonga
    allow:
      - dependency-type: direct
      - dependency-type: indirect
    commit-message:
      prefix: "fix: "
    target-branch: develop
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "fix: "
    target-branch: develop
